@import "../../styles/global";
@import "../../styles/variables";

.select-city {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 0;

  label {
    font-size: 2rem;
    margin: 0 2rem;
    font-weight: 300;
  }

  label:has(input:checked) {
    color: #5fb0e8;
    font-weight: 650;
  }
}
