@import "../../styles/global";
@import "../../styles/variables";

.weather-today {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $basic-background;
  border-radius: 0.7rem 0.7rem 0 0;
  padding: 2rem;

  .title {
    font-size: 2rem;
    font-weight: 300;
  }

  .today {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;

    img {
      width: 10rem;
    }

    .temp {
      margin-left: 1rem;
      p:first-child {
        font-size: 5rem;
        font-family: "Teko", sans-serif;
      }

      P:last-child {
        font-size: 2rem;
        font-weight: 300;
      }
    }
  }
}
